
html,body{
    padding: 0;
    margin: 0;
    background-color: rgb(86, 34, 184);
  }
  
  
  .menu{
    top: 0px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0px;
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
    
  }
  .menu a{
    display: inline-block;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    text-decoration: none;
    color: rgb(12, 48, 255);
    font-weight: bold;
    font-size: 1vw;
    padding: 0.5vw;
    border-radius: 5%;
  }
  .menu a:hover{
    background-color:rgb(12, 48, 255) ;
    color: aliceblue;
  }
  .menuUser {
    position: absolute;
    top: 0px;
    right: 0;
    margin-top: 0px;
    justify-content: center;
    margin: 0;
    color: black;
    background-color: aliceblue;
    text-align: center;
    text-decoration: none;
    color: rgb(12, 48, 255);
    font-weight: bold;
    font-size: 1vw;
    padding: 0.5vw;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    text-decoration: none;
    color: rgb(12, 48, 255);
    font-weight: bold;
    font-size: 1vw;
    padding: 0.5vw;
    border-radius: 5%;
    cursor: pointer;
  }
  
  .dropdown-content {
    all: unset;
    text-align: center;
    justify-content: center;
    display: none;
    position: absolute;
    margin-top: 0.5vw;
    z-index: 1;
    left: 0;
  }
  .dropdown-content a {
    all: unset;
    display: block;
    margin: 0;
    background-color: aliceblue ;
    color:rgb(12, 48, 255) ;
    padding: 12px 16px;
  
  }
  .dropdown-content a:hover {
    background-color:rgb(12, 48, 255)  ;
    color: aliceblue;
    
  }
  
  .dropdown:hover .dropdown-content {
    display:block;
    
  }
  .dropdown:hover{
    background-color: rgb(12, 48, 255);
    color: aliceblue;
  }
  .xd{
    all: unset;
    display: block;
    margin: 0;
    background-color: aliceblue ;
    color:rgb(12, 48, 255) ;
    padding: 12px 16px;
  
  }
  main{
    margin-top: 5px;
    margin-left: 15%;
    margin-right: 15%;
    display: block;
    text-align: center;
    justify-content: center;
    background-color: rgb(189, 189, 189);
    
  }
  main table{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    background-color: rgb(189, 189, 189);
  }
