:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
}

.HeroSection{
  height: 80vh;
  width: 100vw;
  position: relative;
  margin-top: 5vh;
}
.Hero{
  position: absolute;
  width: 100vw;
}
header{
  height: 10vh;
  width: 100vw;
  background-color: rgb(72, 69, 158);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.6);
  position: relative;
  display: inline-block;
}
.hidden{
  display: none;
}